html {
  scroll-behavior: smooth;
  overflow: scroll;
}
body {
  background-color: gray;
  color: white;
}
hr{
  margin-top:5%;
  margin-bottom:5%;
}


@media screen and (max-width: 1000px) { 
  body{
    background-color: gray;
    color: black;
  }
  #box{
    display: flex;
    flex-direction: column-reverse;
  }
}